
body {
  background-image: url("img/body.jpg");
  background-repeat: repeat; 
}

/***************navbar****************/

#navbarForGorakhgad{
   
	z-index:100;
}

nav{
	background:none!important;
	border:none!important;
	margin:1.5em;
	}

#myNavbar>ul>li>a{;
    color:black!important;
    font-size:1.25em;  
    font-family:"cursive",sans serif;
	outline:solid 2.5px;
	margin:5px;
}

#myNavbar>ul>li>a:hover{
	opacity:0.5;
	transition: all 0.3s ease;
	}	

#websiteName{
    color:black!important;
    font-size:1.75em;
    outline:solid 2.8px;
    font-family:"cursive",sans serif;
}

.navbar-toggle{
	border:solid 2px black!important;
	}

.dropdown-menu>li>a{
	color:black!important;
	background-color:white;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  font-size:4.75rem;
}

/***************Lao Tzu nd about us***************************************************/

#textArea{
	display:block;
	text-align: center;
}
#textArea #para {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  font-size: 2.625em;
  padding:1em;
  color: #444444;
  width: auto;
}

#textArea #aboutUs {
  width: auto;	
  padding:1em;
  font-size: 2.8em;  
  color: teal;
  font-family: 'Smythe', cursive;
}

.thumbnail {
    position: relative;
}

/*********************Recent********************/

#floated-imgs{
	width:auto;
	max-width:370px; 
    float: right;
    padding: 5px;
    border-radius: 4px;
}

#floated-imgs img:hover {
    box-shadow: 0 0 2px 1px orange;
}

#floated-imgs h2 {
 color: #663300;
 text-align: center;  
}

/*********centering text************/

.captiontext{
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%; 	
  font-size:26px;
  color: white;
  font-weight:bold;
  z-index: 1;
  font-family:'Encode Sans', sans-serif;
}

/*****************email box**********************/

#VisitorInfo{
  background-color: black;
  padding: 10px;
  margin-top:50px;
  border-radius: 15px 50px;
  width:80%;
  text-align: center; 
}

#VisitorInfo h3{
  text-align: center;
  font-size: 28px;
  color: orange;
  font-family:'Lobster', sans serif;
}


#VisitorInfo input {
  text-align: center;
  margin-bottom: 5px;
  border-radius: 15px;
  width:90%;
}

.VisitorInfo button{
  padding:4px 30%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999; 
}

.EmailButton:hover {background-color: #3e8e41}

.EmailButton:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

footer {
  margin-top:20%;	
  padding: 5px;
  border-top: 1px solid #999999;
  font-family: 'Encode Sans',sans-serif;
  font-size:20px;
  color: #555555;
  text-align: center;
}

/********************carosuel**************************/

#myCarousel{
	margin-top:60px;
}

#myCarousel li{
	font-size: 0;
}

#myCarousel img{
	width:100%;
	height: 500px;
}



/****************************************************
              trek pages css             
*****************************************************/

			  
.destinationHeader {
	text-align: center;
	font-size: 48px;
	color:  #444;
}

.destinationPara {
	font-size:20px;
	margin: 15px 30px 15px 30px;
}

.destinationImg {
	height:260px;
	width:auto;
                 
                 margin:15px 10px 10px 10px;
          
           }
.destinationVid{
	width:300px;
                  margin:15px 10px 10px 10px;
}
#kalsubai,#dhanaulti,#gorakhgad,#rajmachi{
    padding-top: 70px;
}

   
   
   /****************************************************
              AboutUsCss                     
*****************************************************/


.media img{
	width:65px;
}

#AboutUs, #contact{
	margin-top:80px;
}

#AboutUs h1, #contact h1{
	text-align: center;
	color:#663300;
}

#form-group{
	padding-left:20px;
}

/*****************************************************
                 media<768px
*****************************************************/				 
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    footer{
		margin-top:0%;
    }
	#myCarousel img{
		height:200px;
	}
	
	#textArea>#para,#textArea>#aboutUs,#VisitorInfo>h3    {
		font-size:1.6em;
	}
	
	#floated-imgs{
		width:auto;
	}
		
	#websiteName{
		font-size:1.3em;
	}
                 .destinationHeader{
                                   font-size:28px;
                  } 
                  .destinationPara{
                                   font-size:18px;
                  }	
}
